URxvt.scrollBar: false
URxvt.letterSpace: -1



URxvt*font: xft:mono:pixelsize=14,\
            xft:Kochi Gothic:antialias=false,\
            xft:Baekmuk Gulim,/
            xft:Noto Emoji

URxvt.internalBorder: 0 




